@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
  background-image: linear-gradient(to right, #1DA1F2, #5b86ef);
}

.twt-color {
  color: #1DA1F2;
}

.grey-color {
  color: grey;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.dashboard-card {
  border: 1px solid #1DA1F2;
}

.dashboard-header {
  min-height: 200px;
  margin: 0;
  border: 0;
  background-color: whitesmoke;
}

.profile-card__profile-pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile-card__name {
  font-size: xx-large;
  color: #1DA1F2;
  margin-bottom: -5px;
}

.profile-card__handle {
  font-size: small;
  color: gray;
}

.profile-card__stats {
  font-size: small;
  color: darkgray;
}

.stats-card__entry {
  display: flex;
  margin: 3px 0;
}

.stats-card__data {
  color: #1DA1F2;
  font-size: xx-large;
  font-weight: bold;
}

.stats-card__icon--twitter {
  color: #1DA1F2;
}

.stats-card__icon--heart {
  color: red;
}

.stats-card__icon--retweet {
  color: green;
}